<!DOCTYPE html>
<html>
  <head>
    <title>Shortify | URL Shortener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md">
          <div class="navbar-header">
            <%= image_tag 'logo.png', height: '40px', style: "margin-top: -7px;" %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md"> 
          <%= yield %>
        </div>
      </div>
      <%= link_to 'Shortify Github Repo.', 'https://github.com/truenito/shortify', class: 'pull-right', target: '_blank' %>
    </div>
  </body>
</html>
